/*INDEX STYLE : LOGIN*/
.login{
    margin-top: 5rem !important;
}

.showpass{
    background-color: #b000b6 !important;
}
.hidepass{
    background-color: #68006b !important;
}

.title{
    color: rgb(69, 27, 105);
    font-family: 'Times New Roman', Times, serif;
}


/*REGISTRO STYLE*/
.regist{
    margin-top: 5rem !important;
}


/*GENERALS*/
.navbar-dark{
    background-color: #68006b !important;
}
.btn{
    background-color: #b000b6 !important;
    color: white;
}
:hover.btn{
    background-color: #68006b !important;
    color: white;
}
