/*INDEX STYLE : LOGIN*/
.login{
    position: relative;
    display: flex;
    padding-top: 15%;
    padding-left: 40%;
}

.showpass{
    background-color: rgb(0, 102, 255) !important;
}
.hidepass{
    background-color: rgb(0, 38, 95) !important;
}

/*REGISTRO STYLE*/
.registro{
    position: relative;
    display: flex;
    max-width: 100%;
    padding-top: 10%;
    padding-left: 35%;
}